/* body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #46abe5, #3a6aed, #235aba);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  overflow: hidden;
  position: relative;
}

/* glow circles */
/* body::before,
body::after {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.55;
  z-index: -1;
} */

/* body::before {
  background: #1c3175;
  top: -100px;
  left: -120px;
}

body::after {
  background: #3b82f6;
  bottom: -120px;
  right: -150px;
} */

/* animation */
/* @keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} */ 



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */